body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBveXRhVxpDVA_ziKbocmGwXYDym0-a0Clug&usqp=CAU);
}


h1 {
    font-size: x-large;
}


.form-control {
    background-color:thistle;
    height: 50px;
}


button {
    width:17rem;
    height: 3rem;
}   

#subtitulo {
    color:grey;
    font-size: 100%;
}

#subtitulo2 {
    color:blue;
    font-size: 100%;
   
}